--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0+cpu
sentence-transformers
chromadb
langchain
langchain-chroma
langchain-community
langchain-groq
langchain-text-splitters
httpx
streamlit
requests
beautifulsoup4
python-dotenv
