--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
sentence-transformers
chromadb
langchain
langchain-community
langchain-chroma
langchain-groq
streamlit
requests
beautifulsoup4
python-dotenv
